<div class="row-fluid">
	<div class="span2">
		<p class="side-text">
			Core 3 Hotel Management’s staff takes pride in each hotel they manage.
		</p>
	</div>
	<div class="span10 content-container">
		<h2>Staff</h2>
		<ul class="staff">
		<% @employees.each do |employee| %>
			<li class="person">
				<div class="row-fluid">
					<div class="span1">
						<% if employee.avatar? %>
							image_tag employee.avatar_url(:thumb) 
						<% else %>
							<img src="http://placehold.it/120x150" alt="">
						<% end %>
					</div>
					<div class="span8">
						<ul class="person-details">
							<li>		
								<h4>
									<%= employee.name %>
								</h4>
							</li>
							<li>
								<label class="title">
								 <em><%= employee.title %></em>
								</label>
							</li>
							<li>
								<p>
									<%= employee.bio %>
								</p>
							</li>
						</ul>
					</div>
				</div>
			</li>
		<% end %>
		</ul>
	</div>
</div>