<div class="row-fluid">
	<div class="span2">
		<p class="side-text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh arcu, egestas ut tincidunt sed, laoreet rutrum justo. Pellentesque ornare, est vel pharetra tincidunt, massa diam mattis justo, id ultrices diam justo in sem. Etiam eget risus lorem.
		</p>
	</div>
	<div class="span10 content-container">
		<h2>Staff</h2>
		<ul class="staff">
		<% @employees.each do |employee| %>
			<li class="person">
				<div class="row-fluid">
					<div class="span1">
						<%= image_tag employee.avatar_url(:thumb) if employee.avatar? %>
					</div>
					<div class="span6">
						<ul class="person-details">
							<li>		
								<h4>
									<%= employee.name %>
								</h4>
							</li>
							<li>
								<%= employee.title %>
							</li>
							<li>
								<p>
									<%= employee.bio %>
								</p>
							</li>
						</ul>
					</div>
				</div>
			</li>
		<% end %>
		</ul>
	</div>
</div>