<div class="row-fluid">
	<div class="span2">
		<p class="side-text">
			Core 3 Hotel Management is dedicated to helping your hotel be a success.
		</p>
	</div>
	<div class="span10 content-container">
		<h2>About Core 3 Stuff</h2>
		<p>
			Core 3 Hotel Management prides itself on being a first class hotel management
			company. The staff at Core 3 Hotel Management has a long history with all aspects
			of hotel management and development. Our dedicated staff is determined to
			provide hotel owners with professional and courteous attention down to the
			smallest details. A hotel is major investment and we at Core 3 Hotel Management
			are here to help make your ownership experience enjoyable and profitable.
		</p>
		<p>
			Our philosophy is that every hotel deserves individualized attention and that no two
			are alike. Core 3 Hotel Management knows that providing quick results is very
			important. We rely heavily on revenue management practices as well keeping a
			close eye on expenses to provide a better bottom line for owners. We have a very
			“hands on” approach to management and are committed to treating all customers,
			owners, and staff with respect.
		</p>
	</div>
</div>