<div class="row-fluid">
	<div class="span2">
		<p class="side-text">
			Core 3 Hotel Management is dedicated to helping your hotel be a success.
		</p>
	</div>
	<div class="span10 content-container">
		<h2>About Core 3 Hotel Management</h2>
		<p>
			Core 3 Hotel Management prides itself on being a first class hotel management company. The staff at Core 3 Hotel Management has a long history with all aspects of hotel management and development. Our dedicated staff is determined to provide hotel owners with professional and courteous attention including the smallest of details. We realize a hotel is major investment and we at Core 3 Hotel Management are here to help make your ownership experience enjoyable and profitable.
		</p>
		<p>
			Our philosophy is that every hotel deserves individualized attention and that no two are alike. Core 3 Hotel Management knows that providing quick results is very important. We rely heavily on revenue management practices, accountability from our sales staff and periodically observing all expenses to provide a better bottom line for ownership. We utilize a “hands on” approach in our management style and are committed to treating all customers, owners, and staff with respect and the ability to have open communication.
		</p>
		<p>
			We appreciate the opportunity to allow us to take over the stress and daily concerns of your investment. We are committed to thorough communication including monthly statements, reports of shortcomings and “home runs” as well as monthly conference calls with the key operators of the hotel.
		</p>
	</div>
</div>