<div class="row-fluid">
	<div class="span2">
		<p class="side-text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh arcu, egestas ut tincidunt sed, laoreet rutrum justo. Pellentesque ornare, est vel pharetra tincidunt, massa diam mattis justo, id ultrices diam justo in sem. Etiam eget risus lorem.
		</p>
	</div>
	<div class="span10 content-container">
		<h2>Contact Us</h2>
		<ul class="locations">
			<li>
				<ul class="location-details">
					<li>
						<h3>Core 3 Property Management</h3>
					</li>
					<li>1234 Main Street</li>
					<li>Bloomington, IL 61704</li>
				</ul>
			</li>
		</ul>
	</div>
</div>