<div class="row-fluid">
	<div class="span10 offset4 content-container">
		<h2>Contact Us</h2>
		<ul class="locations">
			<li>
				<ul class="location-details">
					<li>
						<h3>Core 3 Hotel Management</h3>
					</li>
					<li>1716 RT Dunn Drive, Suite 4</li>
					<li>Bloomington, IL  61701</li>
					<li>Phone: 309-808-2125</li>
					<li>Email: <a href="mailto:info@core3hm.com">info@core3hm.com</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>