<div class="row-fluid">
	<div class="span2">
		<p class="side-text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh arcu, egestas ut tincidunt sed, laoreet rutrum justo. Pellentesque ornare, est vel pharetra tincidunt, massa diam mattis justo, id ultrices diam justo in sem. Etiam eget risus lorem.
		</p>
	</div>
	<div class="span10 content-container">
		<h2>Properties</h2>
		<ul id="hotel-list">
			<li class="hotel">
				<h3>Holidy Inn Express, Bloomington, IL</h3>
				<ul class="address">
					<li>345 total rooms</li>
					<li>16097 sq./ft. of meeting/function space</li>
					<li>
						<a href="#">View More Information</a>
					</li>
				</ul>
			</li>
			<li class="hotel">
				<h3>Holidy Inn Express, Bloomington, IL</h3>
				<ul class="address">
					<li>345 total rooms</li>
					<li>16097 sq./ft. of meeting/function space</li>
					<li>
						<a href="#">View More Information</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>