<style type="text/css">
	ul#hotel-list { list-style: none; margin-right: 60px; }
	ul#hotel-list li { text-align: left; padding: 10px 0px;  }
	ul#hotel-list li.hotel { border-bottom: 2px solid silver; }
	ul#hotel-list .address { list-style: none; }
</style>
<img src="http://placehold.it/957x180" alt="">
<div class="span12">
		<h2>Properties</h2>
<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh arcu, egestas ut tincidunt sed, laoreet rutrum justo. 
</p>
<ul id="hotel-list">
	<li class="hotel">
		<h3>Holidy Inn Express, Bloomington, IL</h3>
         <ul class="address">
         	<li>345 total rooms</li>
          	<li>16097 sq./ft. of meeting/function space </li>
          	<li><a href="#">View More Information</a></li>
          </ul>
	</li>
	<li class="hotel">
		<h3>Holidy Inn Express, Bloomington, IL</h3>
         <ul class="address">
         	<li>345 total rooms</li>
          	<li>16097 sq./ft. of meeting/function space </li>
          	<li><a href="#">View More Information</a></li>
          </ul>
	</li>

</ul>
</div>
</div>