<div class="row-fluid">
	<div class="span2">
		<p class="side-text">
			Holiday Inn Bloomington recently earned 2012 Certificate of Excellence award from Tripadvisor.
		</p>
	</div>
	<div class="span10 content-container">
		<h2>Properties</h2>
		<ul id="hotel-list">
			<li class="hotel">
				<h3>Holiday Inn Hotel and Suites Bloomington Airport</h3>
				<ul class="address">
					<li>3203 East Empire</li>
					<li>Bloomington IL 61704</li>
					<li>
						<a href="http://www.holidayinn.com/hotels/us/en/bloomington/bmiil/hoteldetail">View More Information</a>
					</li>
				</ul>
				<h4>Hotel Specifications</h4>
				<ul>
					<li>126 Guest Rooms</li>
					<li>5000 SF of meeting space</li>
				</ul>
				<h4>Amenities</h4>
				<ul>
					<li>Business Center</li>
					<li>Health and Fitness Center</li>
					<li>Spa</li>
					<li>High Speed Internet</li>
				</ul>
				<h4>Dining</h4>
				<ul>
					<li>Baxter’s American Grille</li>
				</ul>
			</li>
		</ul>
	</div>
</div>