<div class="row-fluid">
	<div class="span2">
		<p class="side-text">
			Core 3 Hotel Management offers a variety of services that can be tailored
to fit your needs.
		</p>
	</div>
	<div class="span10 content-container">
		<h2>Management Services</h2>
		<p>
			At Core 3 Hotel Management we believe that each property requires individualized attention. We feel that there is not a “one size fits all” approach to management. We offer a variety of management services to fit the needs of each hotel owner.
		</p>
		<h4>Full Service Management</h4>
		<p>
			We offer full service hotel management, which encompasses everything required to manage and run a hotel on a daily basis while exceeding guest expectations and overall profitability for the investors. We immediately begin to implement our proven procedures and policies to successfully manage your property. We make sure that the right people are in place with the proper tools to create a notable hotel for the community and something the ownership can be proud of.
		</p>
		<h4>Accounting</h4>
		<p>
			We also offer accounting services for those properties that may not have a need for our full service management. This would include implementing practices and procedures to safe guard your investment and daily online access through our powerful web based accounting system that allows daily monitoring of the performance. We provide owners with monthly reports of which will clearly outline the success and challenges in each given category.
		</p>
		<h4>Consulting</h4>
		<p>Core 3 Hotel Management is available for consulting. We offer consulting services for overall hotel management or we can provide assistance in any particular area where your hotel may need assistance. This would include consulting of sales and marketing, training of departmental managers or General Managers, implementing training procedures and expectations for the guest service representatives or also re-vamping housekeeping. Wherever a challenge may be a concern, we can offer our suggestions or be “hands on” to implement a plan to expedite the overall positive outcome that will benefit not only your team but also the customer and ultimately the bottom line.</p>
	</div>
</div>