<div class="row-fluid">
	<div class="span2">
		<p class="side-text">
			Core 3 Hotel Management offers a variety of services that can be tailored
to fit your needs.
		</p>
	</div>
	<div class="span10 content-container">
		<h2>Management Services</h2>
		<p>
			At Core 3 Hotel Management we believe that each property requires individualized
attention. We feel that there is not a “one size fits all” approach to management.
We offer a variety of management services to fit the needs of each hotel owner.
		</p>
		<h4>Full Service Management</h4>
		<p>
			We offer full service hotel management, which encompasses everything required to
manage and run a hotel on a daily basis. We immediately begin to implement our
proven procedures and policies to successfully manage your property. We make
sure that the right people are in place with the right tools to make the hotel run
smoothly.
		</p>
		<h4>Accounting</h4>
		<p>
			If you are not in need a full service management company we also offer accounting
only service. This would include________________. At Core 3 Hotel Management we use
a powerful web based accounting system that allows us to closely monitor the
performance of all the properties that we manage. We provide owners with
monthly reports so that they can track the performance of their investment.
smoothly.
		</p>
		<p>In addition to both of these service Core 3 Hotel Management is available for
consulting. We offer consulting services for overall hotel management or we can
provide assistance in any particular area where your hotel may need assistance.</p>
	</div>
</div>